body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #545454;
    font-family: Noto Sans Thai;
}
header{
    width:60%;
    height: 15vh;
    background-color: #000000;
    border:13px solid #ff914d;
    border-radius: 3em;
    padding-bottom: 20px;
    margin:auto;
    text-align: center;
    font-size: 25px;
    font-family: Chewy;
}
header a{
    text-decoration: none;
    color:#ff914d;
}
footer{
    width: 100%;
    height: 15vh;
    background-color: #ff914d;
    text-align: center;
    padding-top: 1px;
    margin-top: 1200px;
    position: absolute;
}
nav{
    font-family: Chewy;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
}
nav a{
    text-decoration: none;
    border: 7px solid #ffa7a7;
    color: #ffa7a7;
    border-radius: 2em;
    padding:5px 15px;
    margin-left: 15px;
    background-color: #000000;
}
.advisor{
    display: flex;
    flex-direction: column;
    margin:50px;
    justify-content: center;
    align-items: center;
}
.advisor img{
    width: 280px;
    height: 340px;
    margin: 10px;
}
.advisor div{
    font-size: 25px;
    font-weight: bold;
    color:#ffa7a7;
    padding:5px;
}
.education{
    background-color: #343434;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-bottom: 25px;
}
.expertise{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education h3{
    border-bottom: 3px solid #ff914d;
    color:#ff914d;
    font-size: 30px;
}
.expertise h3{
    border-bottom: 3px solid #ff914d;
    color:#ff914d;
    font-size: 30px;
}
p{
    color:#fff;
    font-size: 16px;
}
.expertise p{
    font-size: 18px;
}